<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <h1>The Chuck Norris Joke Department</h1>
    <h3>Come here to have some guns, excuse me sun, i'm sorry FUN!!!!</h3>
    <ul>
      <li><a href="/random">Random Jokes</a></li>
      <li><a href="/categories">Joke Categories</a></li>
      <li><a href="/search">Search jokes by keyword</a></li>
    </ul>
  </body>
</html>
